.itemFormDiv {
  width: 50vw;
  margin: auto;
  min-height: 75vh;
  background-color: white;
  margin-top: 3rem;
  border-radius: 10px;
  box-shadow: 0 0 200px 40px black;
  padding: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 29rem;
}

.formCheck {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.formText {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}

.formText input {
  border: unset;
  border-bottom: 1px solid black;
  background-color: transparent;
}

.file {
  border: none;
  display: flex;
  flex-direction: column;
}

input[type="submit"] {
  background-color: transparent;
  outline: none;
  border: 1px solid black;
  height: 40px;
  border-radius: 20px;
  width: 300px;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}
input[type="submit"]:hover {
  background-color: rgb(0, 119, 255);
  outline: none;
  border: 1px solid black;
  color: white;
  border-radius: 20px;
  width: 100%;
}

/* uploading div */
.loadingDiv {
  top: 0;
  position: absolute;
  width: 100%;
  height: 103%;
  scroll-behavior: smooth;
  background-color: black;
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* media query */
@media only screen and (max-width: 400px) {
  .mainContainer,
  .itemDash,
  .itemFormDiv {
    width: 90%;
  }
}
